@property --percentage{
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
  
  @keyframes pieAni {
    from {
      --percentage: 0;
    }
  }
  
  .pie {
    width: 100px;
    aspect-ratio: 1;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman';
    position: relative;
    
  }

  .pie::before{
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--color) calc(var(--percentage) * 1%),#0000 0%), #eee;
    -webkit-mask-image: radial-gradient(farthest-side,#daa8a800 calc(100% - 10px),#000 calc(100% - 10px));
    mask-image: radial-gradient(farthest-side,#0000 calc(100% - 10px),#000 calc(100% - 10px));
  }

  .pie.ani{
    animation-name: pieAni;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; 
  }